<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cross Stitch</title>
    <link rel="stylesheet" href="styles.css">
    <script src="jquery-3.1.1.min.js"></script>
  </head>
  <body>
    <table>
      <%  155.times do |x|  %>
        <tr>
          <% 155.times do |x| %>
            <td></td>
          <%end%>
        </tr>
      <%end%>
    </table>

    <% colors = ["Pink", "HotPink", "DeepPink", "MediumVioletRed", "Crimson", "DarkRed", "Tomato", "DarkOrange", "Yellow", "Gold", "YellowGreen", "GreenYellow", "MediumSeaGreen", "ForestGreen", "DarkGreen", "Turquoise", "PaleTurquoise", "LightSeaGreen", "Teal", "DodgerBlue", "RoyalBlue", "DarkBlue", "Plum", "MediumOrchid", "DarkOrchid", "Indigo", "Gainsboro", "Silver", "Gray", "DimGray", "Black"] %>
    <section class="color-selector">
      <% colors.each do |color| %>
        <div class="color" style="background-color: <%= color %>;"></div>
      <% end %>
    </section>
  </body>
</html>

<script src="scripts.js"></script>
