table {
  border: 1px solid black;
  border-collapse: collapse;
  display: inline-block;
  float: left;
}

td {
  width: 8px;
  height: 8px;
  margin: 0;
  padding: 0;
  border: .5px solid #c3c3c3;
  border-collapse: collapse;
}

.color-selector {
  position: fixed;
  display: inline-block;
  width: 20px;
}

.color-selector div {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-bottom: 5px;
}
